@model OnlineShoping.Models.ProductObj
@{
    ViewBag.Title = "Products";
}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="~/Home/Index"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Products</li>
			</ol>
		</div>
	</div>
	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="filter-price animated wow slideInUp" data-wow-delay=".5s">
					<h3>Filter By Price</h3>
					<ul class="dropdown-menu1">
							<li><a href="">								               
							<div id="slider-range"></div>							
							<input type="text" id="amount" style="border: 0" />
							</a></li>	
					</ul>
						<script type='text/javascript'>//<![CDATA[ 
						$(window).load(function(){
						 $( "#slider-range" ).slider({
								range: true,
								min: 0,
								max: 100000,
								values: [ 20000, 80000 ],
								slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
								}
					 });
					$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );


						});//]]>
						</script>
						<script type="text/javascript" src="~/Assets/js/jquery-ui.min.js"></script>
					 <!---->
				</div>
				<div class="categories animated wow slideInUp" data-wow-delay=".5s">
					<h3>Categories</h3>
					<ul class="cate">
						<li><a href="~/Home/Products?Category=HomeSofas">Home Sofas</a></li>
							<ul>
								<li><a href="~/Home/Products?Category=HomeCookware">Cookware</a> </li>
								<li><a href="~/Home/Products?Category=HomeDecor">Home Decore</a> </li>
							</ul>
						<li><a href="~/Home/Products?Category=DecorationToys">Decorations Toys</a></li>
							<ul>
								<li><a href="~/Home/Products?Category=DecorationWallClock">Wall Clock</a></li>
								<li><a href="~/Home/Products?Category=DecorationLighting">Lighting</a></li>
								<li><a href="~/Home/Products?Category=DecorationTopBrands">Top Brands</a></li>
							</ul>
					</ul>
				</div>
				<div class="new-products animated wow slideInUp" data-wow-delay=".5s">
					<h3>Other Products</h3>
					<div class="new-products-grids">
						<div class="new-products-grid">
							<div class="new-products-grid-left">
								<a href="~/Home/Single/@Model.List2[0].Id"><img src="@Model.List2[0].Image1" alt=" " class="img-responsive" /></a>
							</div>
							<div class="new-products-grid-right">
								<h4><a href="~/Home/Single/@Model.List2[0].Id">@Model.List2[0].Category</a></h4>
								<div class="rating">
									<div class="rating-left">
										<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/1.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/1.png" alt=" " class="img-responsive">
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
									<p> <span class="item_price">$@Model.List2[0].Price</span></p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="new-products-grid">
							<div class="new-products-grid-left">
								<a href="~/Home/Single/@Model.List2[1].Id"><img src="@Model.List2[1].Image1" alt=" " class="img-responsive" /></a>
							</div>
							<div class="new-products-grid-right">
								<h4><a href="~/Home/Single/@Model.List2[1].Id">@Model.List2[1].Category</a></h4>
								<div class="rating">
									<div class="rating-left">
										<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/1.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/1.png" alt=" " class="img-responsive">
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
									<p> <span class="item_price">$@Model.List2[1].Price</span></p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="new-products-grid">
							<div class="new-products-grid-left">
								<a href="~/Home/Single/@Model.List2[2].Id"><img src="@Model.List2[2].Image1" alt=" " class="img-responsive" /></a>
							</div>
							<div class="new-products-grid-right">
								<h4><a href="~/Home/Single/@Model.List2[2].Id">@Model.List2[2].Category</a></h4>
								<div class="rating">
									<div class="rating-left">
										<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/1.png" alt=" " class="img-responsive">
									</div>
									<div class="rating-left">
										<img src="~/Assets/images/1.png" alt=" " class="img-responsive">
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="simpleCart_shelfItem new-products-grid-right-add-cart">
									<p> <span class="item_price">$@Model.List2[2].Price</span></p>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="men-position animated wow slideInUp" data-wow-delay=".5s">
					<img src="~/Assets/images/27.jpg" alt=" " class="img-responsive" />
					<div class="men-position-pos">
						<h4>Summer collection</h4>
						<h5><span>55%</span> Flat Discount</h5>
					</div>
				</div>
			</div>
			<div class="col-md-8 products-right">
				<div class="products-right-grid">
					<div class="products-right-grids animated wow slideInRight" data-wow-delay=".5s">
						<div class="sorting">
<!--							<select id="country" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null">Default sorting</option>
								<option value="null">Sort by popularity</option> 
								<option value="null">Sort by average rating</option>					
								<option value="null">Sort by price</option>								
							</select>-->
						</div>
						<div class="sorting-left">
<!--							<select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null">Item on page 9</option>
								<option value="null">Item on page 18</option> 
								<option value="null">Item on page 32</option>					
								<option value="null">All</option>								
							</select>-->
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="products-right-grids-position animated wow slideInRight" data-wow-delay=".5s">
						<img src="~/Assets/images/18.jpg" alt=" " class="img-responsive" />
						<div class="products-right-grids-position1">
							<h4>2016 New Collection</h4>
							<p>Temporibus autem quibusdam et aut officiis debitis aut rerum 
								necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae 
								non recusandae.</p>
						</div>
					</div>
				</div>
				<div class="products-right-grids-bottom">
                @{ 
                    foreach(var item in Model.List1)
                    {
					<div class="col-md-4 products-right-grids-bottom-grid">
						<div class="new-collections-grid1 products-right-grid1 animated wow slideInUp" data-wow-delay=".5s">
							<div class="new-collections-grid1-image">
								<a href="~/Home/Single/@item.Id" class="product-image"><img src="@item.Image1" alt=" " class="img-responsive"></a>
								<div class="new-collections-grid1-image-pos products-right-grids-pos">
									<a href="~/Home/Single/@item.Id">Quick View</a>
								</div>
								<div class="new-collections-grid1-right products-right-grids-pos-right">
									<div class="rating">
										<div class="rating-left">
											<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
										</div>
										<div class="rating-left">
											<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
										</div>
										<div class="rating-left">
											<img src="~/Assets/images/2.png" alt=" " class="img-responsive">
										</div>
										<div class="rating-left">
											<img src="~/Assets/images/1.png" alt=" " class="img-responsive">
										</div>
										<div class="rating-left">
											<img src="~/Assets/images/1.png" alt=" " class="img-responsive">
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
							</div>
							<h4><a href="~/Home/Single/@item.Id">@item.Category</a></h4>
							<p>Vel illum qui dolorem.</p>
							<div class="simpleCart_shelfItem products-right-grid1-add-cart">
								<p><i>$325</i> <span class="item_price">$@item.Price</span></p>
							</div>
						</div>
					</div>
                    }
                }
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
<!-- //breadcrumbs -->